<!DOCTYPE html>
<html>
  <head>
    <title>This bike</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

	<script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <!--
  <script src="/bower_components/angular/angular.js"></script>
  -->
  <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

  </head>
  <body>

    <h2>user-page</h2>
    <%= title %>
    <%= json %>
    {{title}}

    <%= json.test %>

  </body>
</html>
